* {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {

}

header{

}

.container {
    
}

.box {

}

.box-header {

}

.box-content {

}

.box-footer{
     
}

.button {

}

#generate {

}

/* I will need media query to make it mobile capable too  */